# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
newvenv/
venv/
.env/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Uploaded PDFs
uploads/
data/

# Vector Database
*.faiss
*.pkl
*.db

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db