streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface

google-generativeai

sentence-transformers
transformers
torch

faiss-cpu

pypdf
python-dotenv

numpy
pandas
requests
tiktoken
Pillow
watchdog